name: Release

permissions:
  contents: read

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v*.*.*"
      # Exclude rc.0 tags — they’re not real release candidates but markers for main
      # See: https://github.com/envoyproxy/gateway/issues/7248
      - "!v*.*.*-rc.0"


jobs:
  release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: ./tools/github-actions/reclaim-storage

      - name: Extract Release Tag and Commit SHA
        id: vars
        shell: bash
        run: |
          echo "release_tag=$(echo ${GITHUB_REF##*/})" >> $GITHUB_ENV
          echo "without_v_release_tag=$(echo ${GITHUB_REF##*/v})" >> $GITHUB_ENV
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build egctl multiarch binaries
        run: |
          make build-multiarch
          tar -zcvf envoy-gateway_${{ env.release_tag }}_linux_amd64.tar.gz bin/linux/amd64/envoy-gateway
          tar -zcvf envoy-gateway_${{ env.release_tag }}_linux_arm64.tar.gz bin/linux/arm64/envoy-gateway
          tar -zcvf envoy-gateway_${{ env.release_tag }}_darwin_amd64.tar.gz bin/darwin/amd64/envoy-gateway
          tar -zcvf envoy-gateway_${{ env.release_tag }}_darwin_arm64.tar.gz bin/darwin/arm64/envoy-gateway
          tar -zcvf egctl_${{ env.release_tag }}_linux_amd64.tar.gz bin/linux/amd64/egctl
          tar -zcvf egctl_${{ env.release_tag }}_linux_arm64.tar.gz bin/linux/arm64/egctl
          tar -zcvf egctl_${{ env.release_tag }}_darwin_amd64.tar.gz bin/darwin/amd64/egctl
          tar -zcvf egctl_${{ env.release_tag }}_darwin_arm64.tar.gz bin/darwin/arm64/egctl
          zip -r egctl_${{ env.release_tag }}_windows_amd64.zip bin/windows/amd64/egctl

      - name: Upload Release Manifests
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b  # v2.5.0
        with:
          files: |
            envoy-gateway_${{ env.release_tag }}_linux_amd64.tar.gz
            envoy-gateway_${{ env.release_tag }}_linux_arm64.tar.gz
            envoy-gateway_${{ env.release_tag }}_darwin_amd64.tar.gz
            envoy-gateway_${{ env.release_tag }}_darwin_arm64.tar.gz
            egctl_${{ env.release_tag }}_linux_amd64.tar.gz
            egctl_${{ env.release_tag }}_linux_arm64.tar.gz
            egctl_${{ env.release_tag }}_darwin_amd64.tar.gz
            egctl_${{ env.release_tag }}_darwin_arm64.tar.gz
            egctl_${{ env.release_tag }}_windows_amd64.zip
